<h1>TWEEEEEEEEET TWEEEEEEEET</h1>
  <%= form_tag("/tweetform", method: "post") do %>
  <%= label_tag(:str, "TWEET THIS MOTHEFUCKE") %>
  <%= text_field_tag(:str) %>
  <%= submit_tag("TWEEEEEEEEEEEEEEEET") %>
<% end %>
